{% extends "base.html" %}
{% block title %}Tasker{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 left">
      <h1 class="welcome-text mb-4" style="color: blue;">Welcome to <span style="color: black;">TASKER</span></h1>
      <p class="description mb-4">
        TASKER is a powerful todo web app that helps you stay organized and
        productive. With TASKER, you can easily <b><em>create</em></b>, <b><em>manage</em></b>, and
        <b><em>complete</em></b> your tasks with a clean and intuitive interface.
      </p>
      <div>
        <a class="btn btn-style1 me-2 rounded-0" href="{{url_for('login')}}">Get Started</a>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <!-- Placeholder for image or additional content -->
      <img src="{{url_for('static', filename='images/todo-home.png')}}" alt="Todo">
    </div>
  </div>
</div>
{% endblock %}